<!DOCTYPE html>

<div class="container">

    @* <div class="row pt-3 pb-4">

        <div>
            <h1>Çağrı Merkezi Sayfası</h1>
            <hr />
        </div>

    </div> *@

    <div class="row">

        <div class="col-md-3">
            <a asp-controller="Birim" asp-action="Index" class="btn btn-primary">Birim</a>
        </div>

        <div class="col-md-3">
            <a asp-controller="Departman" asp-action="Index" class="btn btn-success">Departman</a>
        </div>

        <div class="col-md-3">
            <a asp-controller="Calisan" asp-action="Index" class="btn btn-primary">Çalışan</a>
        </div>

        <div class="col-md-3">
            <a asp-controller="Kullanici" asp-action="Index" class="btn btn-success">Kullanıcı</a>
        </div>

    </div>

    </br>

    <div class="row">

        <div class="col-md-3">
            <a asp-controller="Sikayet" asp-action="Index" class="btn btn-success">Şikayetler</a>
        </div>

        <div class="col-md-3">
            <a asp-controller="SikayetDurum" asp-action="Index" class="btn btn-primary">Şikayet Durum</a>
        </div>

        <div class="col-md-3">
            <a asp-controller="CagriMerkezi" asp-action="Index" class="btn btn-success">Çağrı Merkezi</a>
        </div>

    </div>

</div>

</html>

