@model Kullanici

<form method="post">

    <div class="row">

        <div class="col-10">

            <div class="border p-3 mt-5">

                <div class="row pb-3">

                    <h2 class="text-primary">Kullanıcı Güncelle</h2>
                    <hr />

                </div>

                @Html.HiddenFor(m => m.CalisanId)

                <div class="mb-3">

                    <label asp-for="Ad" class="p-0"></label>
                    <input asp-for="Ad" class="form-control" />
                    <span asp-validation-for="Ad" class="text-danger"></span>

                </div>

                <div class="mb-3">

                    <label asp-for="Soyad" class="p-0">Soyisim</label>
                    <input asp-for="Soyad" class="form-control" />
                    <span asp-validation-for="Soyad" class="text-danger"></span>

                </div>

                <div class="mb-3">

                    <label asp-for="TC" class="p-0">TC</label>
                    <input asp-for="TC" class="form-control" />
                    <span asp-validation-for="TC" class="text-danger"></span>

                </div>

                <div class="mb-3">
                    <label asp-for="Sifre" class="p-0">Şifre</label>
                    <input asp-for="Sifre" class="form-control" />
                    <span asp-validation-for="Sifre" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Yetki" class="p-0">Yetki</label>
                    <select asp-for="Yetki" class="form-control">
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                    </select>
                    <span asp-validation-for="Yetki" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary">Güncelle</button>
                

                <a asp-controller="Kullanici" asp-action="Index" class="btn btn-danger">Geri Dön</a>

            </div>

        </div>

    </div>

</form>
