@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">BATTALGAZİ BELEDİYESİNE HOŞGELDİNİZ</h1>
    <p>Ziyaret Etmek İçin -> <a href="https://www.battalgazi.bel.tr/">https://www.battalgazi.bel.tr/</a>.</p>
    <p>Sorunları Bildirmek İçin -> <a href="@Url.Action("Yonlendirme", "Home")">Şikayet Et!</a></p>

</div>
