<!DOCTYPE html>
<html>
<head>
    <title>Başvuru Sayfası</title>
</head>
<body>
    <div>
        <h2>Başvuru Oluştur</h2>
        <form action="@Url.Action("EkleGuncelle", "CagriMerkezi")" method="get">
            
            <button type="submit">Başvuruyu Oluştur</button>
        </form>
    </div>

    <div>
        <h2>Başvuru Sorgula</h2>
        <form action="@Url.Action("Index", "Sikayet")" method="get">

            <button type="submit">Başvuruyu Sorgula</button>
        </form>
    </div>

   
</body>
</html>

