<!DOCTYPE html>

@model CagriMerkezi


<form method="post" action="EkleGuncelle"  enctype="multipart/form-data">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    <div class="row">

        <div class="col-10">

            <div class="border p-3 mt-5">

                <div class="row pb-3">

                    <h2 class="text-primary">@(Model == null ? "Çagrı Ekle" : "Çağrı Güncelle")</h2>
                    <hr />
                        
                </div>

                <style>
                    html, body {
                        overflow-y: auto; /* or overflow: auto; */
                        overflow-x: auto;
                    }
                </style>

                <input asp-for="Id" type="hidden" />
                <input asp-for="BasvuruKodu" type="hidden" />
                <input asp-for="ResimUrl" type="hidden" />

                <div class="mb-3">

                    <label asp-for="Ad" class="p-0">İsim</label>
                    <input asp-for="Ad" class="form-control" Required />
                    <span asp-validation-for="Ad" class="text-danger"></span>

                </div>

                <div class="mb-3">

                    <label asp-for="Soyad" class="p-0">Soyisim</label>
                    <input asp-for="Soyad" class="form-control" Required />
                    <span asp-validation-for="Soyad" class="text-danger"></span>

                </div>

                <div class="mb-3">

                    <label asp-for="TC" class="p-0">TC</label>
                    <input asp-for="TC" class="form-control" placeholder="***********" Required />
                    <span asp-validation-for="TC" class="text-danger"></span>

                </div>

                <div class="mb-3">

                    <label asp-for="Adres" class="p-0">Adres</label>
                    <input asp-for="Adres" class="form-control" Required />
                    <span asp-validation-for="Adres" class="text-danger"></span>

                </div>

                <div class="mb-3">

                    <label asp-for="TelNo" class="p-0">TEL no</label>
                    <input asp-for="TelNo" class="form-control" placeholder="05*********" Required />
                    <span asp-validation-for="TelNo" class="text-danger"></span>

                </div>
           
                <div class="mb-3">

                    <label asp-for="Aciklama" class="p-0">Açıklama</label>
                    <input asp-for="Aciklama" class="form-control" Required />
                    <span asp-validation-for="Aciklama" class="text-danger"></span>

                </div>

                <!-- Görünüm ayarlandı -->
                @if ((string)ViewBag.Yetki == "admin" || (string)ViewBag.Yetki == "user")
                {
                    <div class="mb-3">
                        <label asp-for="DurumId" class="p-0">Durum:</label>
                        <select id="DurumId" name="DurumId" asp-items="ViewBag.DurumCagriList" class="form-select">
                            <option value="">Seçiniz:</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label asp-for="BirimId" class="p-0">Sorumlu Birim:</label>
                        <select id="BirimId" name="BirimId" asp-items="ViewBag.BirimCagriList" class="form-select">
                            <option value="">Seçiniz:</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label asp-for="DepId">Departman:</label>
                        <select id="DepId" name="DepId" class="form-control">
                            <option value="">Seçiniz:</option>
                        </select>
                    </div>
                }

                
                

                <div class="mb-3">

                    <label asp-for="ResimUrl" class="p-0"></label>
                    <input type="file" name="file" class="form-control" />

                </div>


                <script>
                    $(document).ready(function () {
                        $("#BirimId").change(function () {
                            var selectedBirimId = $(this).val();

                            // AJAX isteği ile departmanları getir
                            $.ajax({
                                url: '/CagriMerkezi/GetDepartmentsByBirimId',
                                type: 'GET',
                                data: { birimId: selectedBirimId },
                                success: function (data) {
                                    // Departmanları güncelle
                                    $("#DepId").empty();
                                    $("#DepId").append('<option value="">Seçiniz</option>');
                                    $.each(data, function (i, item) {
                                        $("#DepId").append('<option value="' + item.value + '">' + item.text + '</option>');
                                    });
                                },
                                error: function () {
                                    console.log('Departmanları getirme hatası');
                                }
                            });
                        });
                    });
                </script>

                

                @if (Model != null)
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Güncelle</button>
                }
                else
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Şikayet Ekle</button>
                }

                <a asp-controller="CagriMerkezi" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">Geri Dön</a>

            </div>

        </div>

        <div class="col-2">

            @if (Model != null)
            {
                <br />
                <br />
                <img src="@Model.ResimUrl" width="100%" style="border-radius:7px; border:1px solid #bbb9b9" />
            }

        </div>

    </div>

</form>

</html>
